.homePageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100vh;
}

.formWrapper {
  background: #282a36;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  box-shadow: 1px 1px 5px 2px rgb(21, 21, 21);
}

footer {
  position: fixed;
  bottom: 0;
}

footer a {
  color: #4aee88;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.mainLabel {
  margin-bottom: 20px;
  margin-top: 0;
  font-size: 18px;
}

.homePageLogo {
  height: 2rem;

  margin: 20px 0px;
}

.inputBox {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}

.btn {
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.joinBtn,
.leaveBtn {
  background: #4aed88;
  padding: 10px 20px;
  margin-left: auto;
}
.delet-btn{
  background: #282a36;
  color: wheat;
}
.copyBtn{
  color: black;
}

.joinBtn:hover,
.leaveBtn:hover {
  background: #2b824c;
}

.createInfo {
  margin:20px 0px 10px;
  font-size: 18px;
}

.createNewBtn {
  color: #4aed88;
  text-decoration: none;
  border-bottom: 1px solid #4aed88;
  transition: all 0.3s ease-in-out;
  background: none;
}

.createNewBtn:hover,
footer a:hover {
  color: #368654;
  border-color: #368654;
}

.mainWrap {
  display: grid;
  grid-template-columns: 230px 1fr;
}
.mainWrap-home {
  display: grid;
  grid-template-columns: 280px 1fr;
}
@media screen and (max-width: 800px) {
  .mainWrap-home {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column-reverse;
    gap: 32px ;
  }
  .homePageWrapper{
    height: 100%;
  }
}
.aside {
  background: #1c1e29;
  padding: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 5px 2px rgb(21, 21, 21);
}
.asideInner {
  flex: 1;
}
.connected{
  font-weight: bold;
}
.clientsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 16px;
}

.client {
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 4px;
  text-decoration: none;
  color: #fff;
}
.my-room{
  width: 100%;
}
.my-room :hover{
 background: #1c1e29;
 opacity: 80%;
}
.client-img-continar{
  border-radius: 50%;
  border: 2px solid #4aed88;
  width: 40px;
  height: 40px;
}
.client-img{
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.client-email{
  font-size: 11px;
  font-weight: normal;
  margin: 0;
}
.userName {
  margin: 0px;
  margin-bottom: 3px;
  font-size: 14px;
}
.time{
  font-size: x-small;
}

.logo {
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
}

.logoImage {
  height: 30px;
  margin: 10px 0px 8px;
}

.leaveBtn {
  width: 100%;
  margin-top: 20px;
}
.CodeMirror {
  min-height: calc(100vh - 20px);
  font-size: 1rem;
  line-height: 1.6;
  padding-top: 20px;
}

.google-login {
  width: 70%;
  margin: 0px auto;
}
.google-login img {
  width: 100%;
  border-radius: 10px;
}
.or{
  text-align: center;
  color: gray;
  margin-top: 0;
}
.or samp{
  margin-bottom: -2px;
  color: #fff;
}
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.my-room-img{
  width: 70%; 
  margin: 6px;
}
.home-aside-bg{
  background-color: #282a36;
}
.user-profile{
  text-align: center;
  border-bottom: 2px solid #424242;
  position: relative;
}
.user-profile img{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 3px solid #4aed88;
}
.user-profile h3{
 margin: 0px;
}
.user-profile p{
 margin: 0px;
 margin-bottom: 12px;
 font-size: 12px;
}
.logout{
  position: absolute;
  left: 4px;
  top: 1rem;
  padding: 4px;
  border-radius: 4px;
}
.logout :hover{
  background-color: #1c1e29;
  padding: 4px;
  border-radius: 5px;
}
.logout p{
  font-size: larger;
  color: #4aed88;
}